@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <h1>Chat Test with Sockets</h1>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="userName" placeholder="Enter Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="userMessage" placeholder="Enter Message" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" id="sendMessage" type="button">Send</button>
        </div>
    </div>
    <div class="d-flex flex-row col-12 col-md-12 col-lg-12 col-xl-12 col-sm-12">
        <ul id="messageList">
            
        </ul>
    </div>
</div>

@* Game Area Rows *@
<div class="container h-100" style="background-image: url(../images/background.jpg); background-position: center; padding-top: 100px; padding-bottom: 100px; border-style: solid; border-width: 5px; border-color: black; border-radius: 25px;">
    
    @* Top Player Hand *@
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-5 col-md-5 col-lg-5 col-xl-5 col-sm-5"></div>
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2">
            <div id="playerOneHand" class="border: none" style="width: 100px;" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img id ="pOneHand" class="card-img-top" src="~/images/10C.png" alt="playing_card" ondragstart="drag(event)">
            </div>    
        </div>
        <div class="col-5 col-md-5 col-lg-5 col-xl-5 col-sm-5"></div>
    </div>
    
    @* Top Row Game Zone *@
    <div class="row h-100 justify-content-center align-items-center" style="margin-top: 20px">
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2"></div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2">
            <div id="position1" class="border: none" style="width: 100px;" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img id ="pos1" class="card-img-top" src="~/images/10C.png" alt="playing_card" ondragstart="drag(event)">
            </div>
        </div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2">
            <div id="position2" style="width: 100px; border: none;" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img id="pos2" class="card-img-top" src="~/images/10H.png" alt="playing_card" ondragstart="drag(event)">
            </div>
        </div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2">
            <div id="position3" style="width: 100px; border: none;" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img id="pos3" class="card-img-top" src="~/images/7S.png" alt="playing_card" ondragstart="drag(event)">
            </div>
        </div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="position4" style="width: 100px; border: none;">
                <img id="pos4" class="card-img-top" src="~/images/2H.png" alt="playing_card" ondragstart="drag(event)">
            </div>
        </div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2"></div>
    </div>
    
    @* Bottom Row Game Zone *@
    <div class="row h-100 justify-content-center align-items-center" style="margin-top: 20px;">
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2"></div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2">
            <div id="position5" style="width: 100px; border: none;" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img id="pos5" class="card-img-top" src="~/images/3S.png" alt="playing_card" ondragstart="drag(event)">
            </div>
        </div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2">
            <div id="position6" style="width: 100px; border: none;" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img id="pos6" class="card-img-top" src="~/images/10S.png" alt="playing_card" ondragstart="drag(event)">
            </div>
        </div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="position7" style="width: 100px; border: none;">
                <img id="pos7" class="card-img-top" src="~/images/8C.png" alt="playing_card" ondragstart="drag(event)">
            </div>
        </div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="position8" style="width: 100px; border: none;">
                <img id="pos8" class="card-img-top" src="~/images/2C.png" alt="playing_card" ondragstart="drag(event)">
            </div>
        </div>
        
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2"></div>
    </div>
    
    @* Bottom Player Hand *@
    <div class="row h-100 justify-content-center align-items-center" style="margin-top: 20px;">
            <div class="col-5 col-md-5 col-lg-5 col-xl-5 col-sm-5"></div>
            <div class="col-2 col-md-2 col-lg-2 col-xl-2 col-sm-2">
                <div id="playerTwoHand" class="border: none" style="width: 100px;" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <img id ="pTwoHand" class="card-img-top" src="~/images/QH.png" alt="playing_card" ondragstart="drag(event)">
                </div>    
            </div>
            <div class="col-5 col-md-5 col-lg-5 col-xl-5 col-sm-5"></div>
        </div>
    
</div>

<script src="~/js/signalr.js"></script>